:host {
    width: 450px;
    display: block;
}
div {
    margin: 10px 0px;
}
span {
    margin: 10px 0px;

    display: flex;
    gap: 0px 20px;
    justify-content: end;
    
    width: 100%;
}